<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  
  <!-- Servlets -->
  <servlet>
    <servlet-name>eventServlet</servlet-name>
    <servlet-class>com.tardytron.server.EventServiceImpl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>wakeupServlet</servlet-name>
    <servlet-class>com.tardytron.server.ReminderService</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>testEmailServlet</servlet-name>
    <servlet-class>com.tardytron.server.TestEmailServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>eventServlet</servlet-name>
    <url-pattern>/tardytron/events</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>wakeupServlet</servlet-name>
    <url-pattern>/tardytron/wakeup</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>testEmailServlet</servlet-name>
    <url-pattern>/tardytron/testemail</url-pattern>
  </servlet-mapping>
  
  <!-- Require user to log in -->
  <security-constraint>
    <web-resource-collection>
      <url-pattern>/Tardytron.html</url-pattern>
      <url-pattern>/events/**</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>*</role-name>
    </auth-constraint>
  </security-constraint>
  
  <!-- Only admins can wake up Tardytron -->
      <security-constraint>
        <web-resource-collection>
            <url-pattern>/tardytron/wakeup</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>
  
</web-app>